.badge-checkboxes .checkbox input[type="checkbox"],
.badge-checkboxes label.checkbox-inline input[type="checkbox"] {
  /*  Hide the checkbox, but keeps tabbing to it possible. */
  position: absolute;
  clip: rect(0 0 0 0);
}

.badge-checkboxes .checkbox label,
.badge-checkboxes label.checkbox-inline {
  padding-left: 0;
  font-size: 20px;
  margin: 10px;
  margin-top: 35px;
  /* Remove space normally used for the checkbox */
}

.badge-checkboxes .checkbox input[type="checkbox"]:checked:focus+.badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]:checked:focus+.badge {
  box-shadow: 0 0 2pt 1pt #007bff;
  /* Outline when checkbox is focused/tabbed to */
  color: white;
  background-color: #007bff
}

.badge-checkboxes .checkbox input[type="checkbox"]:focus+.badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]:focus+.badge {
  box-shadow: 0 0 2pt 1pt #007bff;
  background-color: #007bff;
  /* Outline when checkbox is focused/tabbed to */
}

.badge-checkboxes .check input[type="checkbox"]:checked+.badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]:checked+.badge {
  background-color: #007bff;
  color: white;
}

.badge-checkboxes .checkbox input[type="checkbox"]+.badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]+.badge {
  border: 1px solid #007bff;
  /* Add outline to badge */
  /* Make text in badge not selectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Give badges for disabled checkboxes an opacity of 50% */
.badge-checkboxes .checkbox input[type="checkbox"]:disabled+.badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]:disabled+.badge {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

/* Remove badge background-color and set text color for not checked options */
.badge-checkboxes .checkbox input[type="checkbox"]:not(:checked)+.badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]:not(:checked)+.badge {
  background-color: Transparent;
  color: black;
}

/*The following css only required for Bootstrap <= 3.1.0 */
.badge-checkboxes .checkbox {
  padding-left: 0;
  /* Remove space normally used for the checkbox */
}

.badge-checkboxes .disabled label,
.badge-checkboxes label.checkbox-inline.disabled {
  cursor: not-allowed
}

.label-txt {
text-align: left;}

.form-group {
text-align: center;
}

.input {
  width: 100%;
  padding: 10px;
  border-color: black;
  outline: 2px;
}

.text-input {
width: 75%;
}

.form-group .badge-checkboxes {
position: relative;
left: 115px;
  text-align: center;
  width: 75%;
  padding: 10px;
  border: none;
  outline: none;
}

.mainContainer {
margin-right: auto;
margin-left: auto;
margin-top: -40px;
margin-bottom: 70px;
max-width: 77%;
min-width: 25%;
text-align: center;
background-color: rgba(255, 255, 255, 0.5);}