/* import Fonts */
@import url(//db.onlinewebfonts.com/c/c2f7638be87032cd75a21eeceffd56bd?family=French+Script+MT);
@import url(//db.onlinewebfonts.com/c/1db29588408eadbd4406aae9238555eb?family=Consolas);
@import url(//db.onlinewebfonts.com/c/b1f909b1cb3adb801a92229ea92613e1?family=Script+MT+Bold);

html {
  padding: 100px 0;
}
body {
  background: url("../img/background-1.png") no-repeat center center fixed;
  background-size: cover;
}

/*NAVBAR*/
.assembleBrand {
  font-family: "French Script MT";
  color: white;
  font-size: 40px !important;
}

/*LOGIN POP UP*/
.login_btn {
  text-align: right;
  font-size: 150%;
  color: white;
  margin: 10px;
  font-style: italic;
  top: -100px;
}

/*MAIN*/
.header {
  padding-top: 250px;
  padding-bottom: 50px;
  margin-top: 50px;
}

.headerAssembleBrand {
  font-size: 150px;
  font-family: "French Script MT";
  color: white;
}

button.btn.btn-outline-secondary.btn-lg {
  border-radius: 25px;
}

.hoeHetWerkFont {
  font-family: Consolas;
}

#hoeHetWerkt {
  margin: 225px 0;
  padding-top: 250px;
}


/* ABOUT US PAGE*/
.links{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1%;
  border-radius: 1%
}

.rechts{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1%;
  border-radius: 2%;
}

.about{
  margin-top: 5%;
}

.overons{
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 5%;
  border-radius: 15px;
}

/*PROFILE MATCH*/
.profile-match{
  margin-top: 10%;
}

.profile-pic{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  text-align: center;
  height: 300px;
  width: 100%;
  padding-top: 25%;
}

.profile-extra{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  margin-left: 1%;
  display: flex;
  padding: 2%;
  height: 100%;
}

.profile-info{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  margin-top: 1%;
  padding: 2%;
}

.profile-buttons{
  float: right;
}

.info-match{
  width: 100%;
  margin: 3%;
}

.match{
  font-size: 25px;
  background-color: white;
  color: black;
  border-radius: 25px;
  width: 100%;
  margin-top: 3%;
}

.boxHoeHetWerkt {
  background-color: rgba(255, 255, 255, 0.5);;
  width: 85px;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
}

.fa-arrow-circle-right {
  padding: 70px 0;
  font-size: 50px;
  color: white;
}

.stap {
  font-family: "Script MT Bold";
  font-size: 35px;
  color: darkslategray;
}

.backToTop {
  margin: 25px;
}
/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  padding: 107px;
  position: absolute;
  top: 100px;
  left: 140px;
}
/*naam,geboortedatum,geslacht,email*/
.gegevens{
  background-color: rgba(239,239,239,0.5);
  padding: 120px 400px;
  position: absolute;
  top: 100px;
  left: 420px;
}
/*links,overmij,interesse*/
.gegevens2{
  background-color: rgba(239,239,239,0.5);
  padding: 180px 350px;
  position: absolute;
  top: 350px;
  left: 140px;
}
/*mijn matches,zoeken matches*/
.gegevens3{
  background-color: rgba(239,239,239,0.5);
  padding: 180px 180px;
  position: absolute;
  top: 350px;
  left: 860px;
}
/*text positie,naam,geboortedatum,geslacht,email*/
.text{
  position: absolute;
  top: 130px;
  left: 480px;
}
/*text positie,links,over mij,interesse:kampen,eten*/
.text2{
  position: absolute;
  top: 360px;
  left:160px

}
/*text positie,interesse:sporten,natuur*/
.text3{
  position: absolute;
  top: 537px;
  left: 310px;
}
/*text positie,interesse:strand,cruise*/
.text4{
  position: absolute;
  top: 537px;
  left: 460px;
}
/*text positie,mijn matches,je hebt geen match*/
.text5{
  position: absolute;
  top:375px;
  left: 965px;
}
/*box,zoek een match */
.box {
  background-color: white;
  padding: 10px 30px;
  position: absolute;
  top: 530px;
  left: 960px;
}
/*positie bewerk icon*/
.positie1{
  position: absolute;
  top: 310px;
  left: 1195px;
}
.positie2{
  position: absolute;
  top: 680px;
  left: 810px;
}
/*posite zoek een match en uitloggen*/
.positie3{
  position: absolute;
  top: 5px;
  left: 1150px;
}


/*PROFIEL PAGINA*/
.image {
  background-color: gray;
}

.info {
  background-color: blue;
}

.info2 {
  background-color: white;
}

.info3 {
  background-color: white;
}