/* import French Script MT */
@import url(//db.onlinewebfonts.com/c/c2f7638be87032cd75a21eeceffd56bd?family=French+Script+MT);

body {
  background: url("../img/background-1.png") no-repeat center center fixed;
  background-size: cover;
}

/*NAVBAR*/
.assembleBrand {
  font-family: "French Script MT";
  color: white;
  font-size: 40px !important;
}

/*LOGIN POP UP*/
.login_btn {
  text-align: right;
  font-size: 150%;
  color: white;
  margin: 10px;
  font-style: italic;
  top: -100px;
}

/*MAIN*/
.header {
  padding-top: 200px;
  padding-bottom: 50px;
  margin-top: 50px;
}

.headerAssembleBrand {
  font-size: 150px;
  font-family: "French Script MT";
  color: white;
}

button.btn.btn-outline-secondary.btn-lg {
  border-radius: 25px;
}

.hoeHetWerkFont {
  font-family: Consolas;
}

#hoeHetWerkt {
  margin: 500px 0;
}