/* import French Script MT */
@import url(//db.onlinewebfonts.com/c/c2f7638be87032cd75a21eeceffd56bd?family=French+Script+MT);

/* Start stylesheet */


/* * {
  border: 1px solid black;
} */



body {
  margin: 0;
  background-image: url("../img/background-1.png");
  background-size: cover;
}

header {
  display: inline-block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.assemble_name {
  font-family: "French Script MT";
  color: white;
  font-size: 250%;
  margin: 10px;
}

.login_btn {
  text-align: right;

  font-size: 150%;
  color: white;
  margin: 10px;
  font-style: italic;
  top: -100px;
}

.fas {
  color: white !important;
}

.about{
  width: 50%;
  display: inline-block;
  margin-left: 25%;
  margin-top: 8%;
  border-radius: 5%;
  padding: 1%;
}

.doel{
  padding: 1%;
}

.about-background{
  height: 100%;
  width: 100%;
  background: rgba(255,255,255, 0.5);
  border-radius: 5%;
}