div.col-sm-10 {
  margin: 60px auto;
  background: rgba(239, 239, 239, 0.5);
  margin-top: 10%;
  vertical-align: centered;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

form {
  margin: 60px auto;
  padding: 60px 120px 80px 120px;
  text-align: center;
}

label.text-input {
  display: block;
  position: relative;
  margin: 40px 0px;
}

.label-txt.animated {
  top: 0px !important;
}

.label-txt {
  position: absolute;
  top: -1.6em;
  padding: 10px;
  font-family: sans-serif;
  font-size: .8em;
  letter-spacing: 1px;
  color: rgb(120, 120, 120);
  transition: ease .3s;
}

.label-txt.why {
  top: -11em;
  text-align: center;
}

.area {
  margin-top: 11em;
}

textarea {
  padding: 20px;
  margin-top: 20em;
  resize: none;
}

select.input.single {
  margin-top: 20px;
  border: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, rgb(120, 120, 120) 60%),
    linear-gradient(135deg, rgb(120, 120, 120) 40%, transparent 50%) !important;
  background-position: calc(100% - 30px) 14px, calc(100% - 20px) 14px, 100% 0;
  background-size: 10px 10px, 10px 10px;
  background-repeat: no-repeat;
}

.tab {
  display: none;
}

.tab.active {
  display: block !important;
}

.input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #BCBCBC;
}

.line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #007bff;
  transition: ease .6s;
}

.input:focus+.line-box .line {
  width: 100%;
}

.label-active {
  animation: moveText 1s both;
}

@keyframes moveText {
  from {
    top: 0px;
  }

  to {
    top: -2em;
  }
}

.badge-checkboxes .checkbox input[type="checkbox"],
.badge-checkboxes label.checkbox-inline input[type="checkbox"] {
  /*  Hide the checkbox, but keeps tabbing to it possible. */
  position: absolute;
  clip: rect(0 0 0 0);
}

.badge-checkboxes .checkbox label,
.badge-checkboxes label.checkbox-inline {
  padding-left: 0;
  font-size: 20px;
  margin: 10px;
  margin-top: 35px;
  /* Remove space normally used for the checkbox */
}

.badge-checkboxes .checkbox input[type="checkbox"]:checked:focus+.badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]:checked:focus+.badge {
  box-shadow: 0 0 2pt 1pt #007bff;
  /* Outline when checkbox is focused/tabbed to */
  color: white;
  background-color: #007bff
}

.badge-checkboxes .checkbox input[type="checkbox"]:focus+.badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]:focus+.badge {
  box-shadow: 0 0 2pt 1pt #007bff;
  background-color: #007bff;
  /* Outline when checkbox is focused/tabbed to */
}

.badge-checkboxes .check input[type="checkbox"]:checked+.badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]:checked+.badge {
  background-color: #007bff;
  color: white;
}

.badge-checkboxes .checkbox input[type="checkbox"]+.badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]+.badge {
  border: 1px solid #007bff;
  /* Add outline to badge */
  /* Make text in badge not selectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Give badges for disabled checkboxes an opacity of 50% */
.badge-checkboxes .checkbox input[type="checkbox"]:disabled+.badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]:disabled+.badge {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

/* Remove badge background-color and set text color for not checked options */
.badge-checkboxes .checkbox input[type="checkbox"]:not(:checked)+.badge,
.badge-checkboxes label.checkbox-inline input[type="checkbox"]:not(:checked)+.badge {
  background-color: Transparent;
  color: black;
}

/*The following css only required for Bootstrap <= 3.1.0 */
.badge-checkboxes .checkbox {
  padding-left: 0;
  /* Remove space normally used for the checkbox */
}

.badge-checkboxes .disabled label,
.badge-checkboxes label.checkbox-inline.disabled {
  cursor: not-allowed
}
